.banner{
    width: 100vw;
    height: 40vh;
}

.banner-one{
    width: 100%;
    height: 100%;
    background-color: #C0392B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #C0392B, #F6D365);
}

.banner-one .product, .text-button{
    width: 40vw;
}

.banner-one .person{
    align-self: flex-end;
    height: 35vh;
}

.banner-one .text-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 3vw;
}

.shop-now{
    padding: 16px 16px;
    font-size: 1rem;
    font-weight: 1000;
    margin: 16px 0 0;
    background: #FBE8D3;
    width: 10vw;
    border-radius: 50px;
    border: none;
    position: absolute;
    bottom: -90px;
    color: #C0392B;
}

