body {
  font-family: Arial, sans-serif;
  background: #F4DCC6;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  
  list-style: none;
  margin: 20px;
  padding: 10px 0;
  width: 100%;
}

#categories {
    gap: 20px;
}

.carousel::-webkit-scrollbar {
  display: none;
}


.carousel-button {
  background-color:unset;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0 10px;
  z-index: 1;
}

.item {
  min-width: 70px;
  text-align: center;
  color: #333;
  flex-shrink: 0;
  margin: 0 10px; /* Add spacing for accurate scroll width */
}

.item-link {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  text-decoration: none;
  color: inherit;
}
.item-title{
    font-size: 1.19rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    color: inherit;
}