body {
  font-family: Arial, sans-serif;
  background: #fff;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 1200px;
  margin-top: 20px;
  width: 90%;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  list-style: none;
  margin: 20px;
  padding: 10px 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.item img {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
}

.carousel-button {
  background-color:unset;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0 10px;
  z-index: 1;
}

.item {
  min-width: 70px;
  text-align: center;
  color: #333;
  flex-shrink: 0;
  margin: 0 10px; /* Add spacing for accurate scroll width */
}

.item-link {
  text-decoration: none;
  color: inherit;
}
.item-title{
    font-size: 1.19rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    color: inherit;
}