body {
  background: #F4DCC6;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  width: 90%;
  margin: 0 auto;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  scroll-behavior: smooth;
  
  list-style: none;
  margin: 20px;
  padding: 10px 0;
  width: 100%;
}

.categories {
    gap: 20px;
}

.carousel::-webkit-scrollbar {
  display: none;
}


.carousel-button {
  background-color:unset;
  
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0 10px;
  z-index: 1;
}

.item {
  min-width: 70px;
  text-align: center;
  color: #333;
  flex-shrink: 0;
  margin: 0 10px; /* Add spacing for accurate scroll width */
}

.item-link {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  text-decoration: none;
  color: inherit;
}
.item-title{
    font-size: 1.19rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
  .categories-carousel {
    margin-top: 30px;
  }
  .categories-carousel .carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    gap: 20px;
    overflow: unset; /* Remove scrolling for grid */
  }

  .carousel-button {
    display: none; /* Hide arrows on mobile */
  }

  .item-title{
    font-size: 1.00rem;
  }
}