/* Cart Overlay */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  transition: right 0.3s ease;
  z-index: 1001;
  overflow-y: auto;
}



.cart-overlay.open {
  right: 0;
}

.cart-content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.cart-header {
    width: 100%;
    height: 10%;
    padding: 10px;
    background-color: #F4DCC6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-header h2 {
  margin: 0 auto;
  font-size: 24px;
  color: #3E302B;
}


.close-btn {
  font-size: 48px;
  background: none;
  border: none;
  color: #999;
}

.cart-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    justify-content: flex-start;
}

.cart-items {
    
  list-style: none;
  margin-bottom: 15px;
  padding: 30px 30px;
  
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #FFF8F1;
  border-radius: 10px;
  padding: 10px;
}

.cart-item .img-wrapper{
    width: 30%;
    aspect-ratio: 1 / 1;
    position: relative;
    padding: 10px;
    background-color: #fff;
    box-shadow: 4px -4px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-top h4 {
    width: 80%;
    margin: 0;
    font-size: 16px;
    color: #3E302B;
}

.seperator {
  width: 100%;
  height: 1px;
  background-color: #333;
  margin: 10px 0;
}

.price_and_quantity {
    margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-item img {
  width: 50px;
  height: auto;
}

.item-details {
  flex: 1;
}

.item-details h4 {
  font-size: 14px;
}

.quantity-controls {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9999px;
  background: #F5A623;
  overflow: hidden;
  
}

.quantity-controls button {
  background: transparent;
  color: #fff;
  border: none;
  padding: 0.3rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.quantity {
    color: #fff;
  padding: 0 0.5rem;
  min-width: 1.5rem;
  text-align: center;
}


.price {
  font-weight: bold;
}

.remove-btn {
  background: none;
  border: none;
  font-size: 40px;
  color: #C0392B;
}

.cart-footer {
    width: 100%;
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding: 10px 20px 0 20px; 
    background-color: #FFF8F1;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-btn {
  width: 90%;
  padding: 10px;
  background: #d9534f;
  color: #fff;
  border: none;
  font-size: 16px;
  margin: 10px auto;
  border-radius: 20px;;
}
